In [2]:
import pandas as pd
import numpy as np

In [5]:
# Load the .npy file
data = np.load('../dataset/anomaly_detection/WADI/WADI_train.npy')

# Convert the numpy array to a pandas DataFrame
df = pd.DataFrame(data)

In [7]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,113,114,115,116,117,118,119,120,121,122
0,0.798629,0.300814,0.950348,0.958437,0.515464,0.000177,0.0,0.0,0.477736,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.221481,0.0,0.300885
1,0.798629,0.300814,0.950348,0.958437,0.515464,0.000177,0.0,0.0,0.477736,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.221481,0.0,0.300885
2,0.798629,0.300814,0.950348,0.958437,0.515464,0.000177,0.0,0.0,0.477736,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.221481,0.0,0.300885
3,0.798629,0.294989,0.950069,0.958490,0.516021,0.000201,0.0,0.0,0.476330,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.213922,0.0,0.300885
4,0.798629,0.294989,0.950069,0.958490,0.516021,0.000201,0.0,0.0,0.476330,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.213922,0.0,0.300885

In [11]:
import csv
metrics = [["Accuracy", "Precision"],[234,123]]

with open("results"+"_"+".csv", 'a',newline='') as f:
    writer = csv.writer(f)
    for row in metrics:
        writer.writerow(row)

In [3]:
# Load the .npy file
data = np.load('../dataset/anomaly_detection/WADI/WADI2019_no_scaler/WADI_test_label.npy')

# Convert the numpy array to a pandas DataFrame
df = pd.DataFrame(data)

In [6]:
new_df = df[df[0]]

In [9]:
new_df

Empty DataFrame
Columns: [0]
Index: []